@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.10' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.5rem;
}

.long-quote {
  font-size: 1.2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  font-size: 0.8rem;
  margin-top: 15px;
  /*font-style: italic;*/
  outline: none;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  color: #333;
}

.button-container {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background: #333;
  outline: none; /* no blue link line */
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.15rem rgba(121, 121, 121, 0.35);

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

button:hover {
    filter: brightness(120%);
}

button:active{
    transform: translate(0, 0.05rem);
    box-shadow: 0 0.15rem rgba(255,255,255, 0.35);
}

.twitter-button:hover{
    color:#38a1f3;
}

.fa-twitter {
    font-size: 1.0rem;
}


/* loader*/

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* media query: tablet or smaller */

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 25px;
  }
  .quote-text {
    font-size: 1.5rem;
  }
  .fa-quote-left {
    font-size: 2rem;
  }
}
